<div class="bg-primary text-white text-center p-2">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</div>
<div class="row bg-dark text-center">
  <div class="col p-5"><a class="text-light" href="/drones">View All Drones</a></div>
  <div class="col p-5"><a class="text-light" href="/drones/create">Create Drone</a></div>
</div>